<!DOCTYPE html>
@using Microsoft.AspNetCore.Http
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Portfolio</title>

    <environment include="Development">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/style.css" />


    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/style.min.css" />
    </environment>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" data-auto-replace-svg="nest" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

</head>
<body>
    <nav class="navbar fixed-top navbar-expand-md navbar-light bg-primary">
        <div class="container-fluid">
            <div class="navbar-header">
                <a asp-area=@ViewData["Area"] asp-controller="Home" asp-action="Index" class="navbar-brand">@ViewData["Category"]</a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="navbar-toggler-icon"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="mr-auto navbar-nav">
                    <li class="nav-item active"><a class="nav-link" asp-area=null asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="nav-item active"><a class="nav-link" asp-area=null asp-controller="Home" asp-action="Contact">Contact</a></li>
                    <li class="nav-item active"><a class="nav-link" asp-area=null asp-controller="Home" asp-action="About">About</a></li>
                </ul><partial name="_LoginPartial" />
            </div>
        </div>
    </nav>

    <!--<partial name="_CookieConsentPartial" />-->
    <div class="container-fluid body-content">
        @RenderBody()
    </div>

    @RenderSection("Scripts", required: false)

</body>
</html>
