
@{
    ViewData["Title"] = "Home";
}
<h1>Home</h1>

<a href="../Home/Introduction">Introduction</a>
<br />
<a href="../Articles/Index">Articles</a>
<br />
<a asp-controller="SlotTypes" asp-action="Index">Slot Types</a>
