
@{
    ViewData["Title"] = "Home";
}
<h1>Home</h1>

<a href="../Home/Introduction">Introduction</a>
<br />
<a href="../Articles/Index">Articles</a>
<br />
<a href="../Account/Login">Account</a>
<br />
<a href="../Account/Register">Account</a>
<br />
